<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <remove name="Plesk. SSL redirect for #42" />
                <rule name="Https-HTTP" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="OFF" />
                        <add input="{HTTP_HOST}" matchType="Pattern" pattern="http://www.jyotirgamay.com" ignoreCase="true" negate="false" />
                    </conditions>
                    <action type="Redirect" url="http://www.jyotirgamay.com" />
                </rule>
      </rules>
    </rewrite>
        
  </system.webServer>
  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\jyotirgamay.com\tmp" />
  </system.web>
</configuration>